.FormInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Input {
  margin-bottom: 20px;
  width: 150px;
  height: 20px;
}
.Buttoninput {
  width: 150px;
  height: 30px;
  background-color: rgba(0, 255, 255, 0.582);
  border: 0;
  margin: auto;
}
